<!DOCTYPE html>
<html>
  <head>
    <title><%= id %><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= name %></h1>
    <p>Welcome to TKU</p>
  </body>
</html>
